.Form {
  margin-bottom: 4.5rem;
  display: flex;
  flex-direction: column;
}
.Form input,
.Form button {
  padding: 1.6rem;
  font-size: 1.6rem;
  background-color: #ebecf0;
  border: 0;
  outline: 0;
  border-radius: 2.5rem;
}
.Form label {
  width: 100%;
  margin-bottom: 4rem;
}
.Form input {
  width: 100%;
  color: #666;
  font-family: "Montserrat", sans-serif;
  -webkit-box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #fff;
  -moz-box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #fff;
  box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #fff;
  -webkit-appearance: none;
  box-sizing: border-box;
  text-shadow: 1px 1px 0 #fff;
  transition: all 0.2s ease-in-out;
}
.Form input::placeholder {
  color: #838aa0;
}
input:focus {
  -webkit-box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
  -moz-box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
  box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
  -webkit-appearance: none;
}
.Form button {
  width: 40%;
  margin: 0 auto;
  color: #61dafb;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  -webkit-box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
  -moz-box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
  box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
  -webkit-appearance: none;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.Form button:hover {
  -webkit-box-shadow: -2px -2px 5px #fff, 2px 2px 5px #babecc;
  -moz-box-shadow: -2px -2px 5px #fff, 2px 2px 5px #babecc;
  box-shadow: -2px -2px 5px #fff, 2px 2px 5px #babecc;
  -webkit-appearance: none;
}
.Form button:active {
  -webkit-box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
  -moz-box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
  box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
  -webkit-appearance: none;
}
.Form span {
  margin-right: 1rem;
}

@media screen and (max-width: 599px) {
  .Form {
    margin-bottom: 2rem;
  }
  .Form input,
  .Form button {
    padding: 1.4rem;
    font-size: 1.4rem;
  }
  .Form label {
    margin-bottom: 2rem;
  }
  .Form input {
    width: 100%;
  }
  .Form button {
    width: 60%;
  }
}

@media (min-width: 600px) and (max-width: 1024px) {
  .Form {
    margin-bottom: 2.5rem;
  }
  .Form input,
  .Form button {
    padding: 1.4rem;
  }
  .Form input {
    width: 100%;
  }
  .Form label {
    margin-bottom: 2.5rem;
  }
}
