.TodoItems {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.5rem;
  border: 0;
  outline: 0;
  color: #666;
  font-size: 1.6rem;
  border-radius: 2.5rem;
  padding: 1.6rem;
  background-color: #ebecf0;
  text-shadow: 1px 1px 0 #fff;
  box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
}
.TodoItems:last-child {
  margin-bottom: 0;
}
.TodoItems p {
  word-wrap: break-word;
  width: 85%;
}
.TodoItems button {
  border: 0;
  outline: 0;
  font-size: 1.6rem;
  border-radius: 1.2rem;
  padding: 1rem;
  color: #838aa0;
  background-color: #ebecf0;
  text-shadow: 1px 1px 0 #fff;
  box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
  cursor: pointer;
}
.TodoItems .icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.TodoItems button:hover {
  box-shadow: -2px -2px 5px #fff, 2px 2px 5px #babecc;
}
.TodoItems .edit {
  margin-right: 1rem;
}
