.TodoItems {
  margin-bottom: 2.5rem;
  padding: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
  color: #666;
  background-color: #ebecf0;
  border: 0;
  outline: 0;
  border-radius: 2.5rem;
  text-shadow: 1px 1px 0 #fff;
  box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
}
.TodoItems:last-child {
  margin-bottom: 0;
}
.TodoItems.isEditing {
  padding: 0.95rem 1.6rem;
}
.TodoItems .check.isChecked,
.TodoItems.isEditing .edit {
  box-shadow: inset -2px -2px 5px rgba(255, 255, 255, 1),
    inset 3px 3px 5px rgba(0, 0, 0, 0.1);
}
.TodoItems .check.isChecked .fa-check,
.TodoItems.isEditing .edit .fa-edit {
  transform: scale(0.9);
}
.TodoItems .task {
  display: inline-block;
  position: relative;
  word-break: break-all;
}
.TodoItems .task::after {
  content: "";
  position: absolute;
  bottom: 40%;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #666;
  transition: all 0.3s ease;
}
.TodoItems .task.isChecked::after {
  width: 100%;
}
.TodoItems button {
  width: 38px;
  padding: 1rem;
  font-size: 1.6rem;
  color: #838aa0;
  background-color: #ebecf0;
  border: 0;
  outline: 0;
  border-radius: 1.2rem;
  text-shadow: 1px 1px 0 #fff;
  box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
  cursor: pointer;
}
.TodoItems .left,
.TodoItems .right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.TodoItems button:hover {
  box-shadow: -2px -2px 5px #fff, 2px 2px 5px #babecc;
}
.TodoItems .check {
  margin-right: 1rem;
}
.TodoItems .delete {
  margin: 0 1rem;
}
.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 500ms;
}

@media screen and (max-width: 599px) {
  .TodoItems {
    padding: 1.2rem;
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
  }
  .TodoItems button {
    width: 30px;
    padding: 0.8rem;
    font-size: 1.2rem;
  }
}

@media (min-width: 600px) and (max-width: 1024px) {
  .TodoItems {
    padding: 1.4rem;
    margin-bottom: 1.8rem;
    font-size: 1.4rem;
  }
  .TodoItems button {
    width: 30px;
    padding: 0.8rem;
    font-size: 1.3rem;
  }
}
