@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");
.App {
  text-align: center;
}
.App h1 {
  color: #fff;
  font-family: "Rock Salt", cursive;
  font-size: 5rem;
  letter-spacing: 0.1rem;
  margin: 0;
  text-shadow: 2px 3px 0px rgba(150, 150, 150, 1);
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
}
