@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 10px;
}
body {
  position: relative;
  margin: 0;
  padding: 8rem 0;
  height: 100%;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  background-color: #ebecf0;
}

@media screen and (max-width: 599px) {
  body {
    padding: 2.5rem 0;
  }
}

@media (min-width: 600px) and (max-width: 1024px) {
  body {
    padding: 4rem 0;
  }
}
