@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 10px;
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #61dafb;
  background-image: linear-gradient(
    to right top,
    #61dafb,
    #5fceff,
    #89bdff,
    #c2a4ff,
    #f486e9
  );
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: relative;
}
